@page
@using Amina.Infrastructure.Multitenancy;
@using Finbuckle.MultiTenant;
@model LoginModel
@inject IMultiTenantStore<MultiTenantInfo> _tenantStore

@{
    ViewData["Title"] = Model.TenantInfo is not null ? Model.TenantInfo.Name : "Login";
    ViewData["Tenant"] = Model.TenantInfo is not null ? Model.TenantInfo.Name : "Root";
}

<div class="h-100 d-flex justify-content-center align-items-center">
    <div class="card pb-5 shadow rounded" id="card">
        <div class="card-header p-4">
            <h1>Welcome</h1>
            <p class="w-75">Sign in with your @ViewData["Tenant"] account to continue.</p>
        </div>
        <div class="card-body p-4">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger mt-1"></span>
                </div>
                <div class="form-row mt-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger mt-1"></span>
                </div>
                <p class="text-right mt-3">
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your Password?</a>
                </p>
                <div class="form-row mt-3">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    #card {
        max-width: 405px;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
