@using Amina.Infrastructure.Multitenancy;
@using Finbuckle.MultiTenant
@inject IMultiTenantStore<MultiTenantInfo> _tenantStore

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">Amina</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                    @if (Context.GetMultiTenantContext<MultiTenantInfo>()?.TenantInfo is null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Select a tenant</a>
                            <div class="dropdown-menu">
                                @foreach (var tenant in await _tenantStore.GetAllAsync())
                                {
                                    <a class="dropdown-item" href=@($"/{tenant.Identifier}")>@tenant.Name</a>
                                }
                            </div>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>